@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@500;600;700;800&family=Vibur&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input[type=submit] {
  box-shadow: none;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/*---Description---*/
/*---Cards---*/
/*---Code---*/
/*---Footer---*/
/*---Description---*/
/*---Cards---*/
/*---Code---*/
/*---Footer---*/
.header {
  padding-bottom: 5.8125rem;
  padding-top: 2.5625rem;
  position: relative;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5625rem;
}
.header__logo {
  cursor: pointer;
}
.header__logo img {
  margin-right: 1.125rem;
}
@media (max-width: 24.125rem) {
  .header__logo img {
    width: 2.125rem;
    margin-right: 0.7rem;
  }
}
.header__logo-text {
  color: #000;
  font-family: Vibur;
  font-size: 3.125rem;
  font-weight: 400;
}
@media (max-width: 24.125rem) {
  .header__logo-text {
    font-size: 2.125rem;
  }
}
.header__logo-text:hover {
  color: #ffc43b;
}
.controls {
  display: flex;
  align-items: center;
}
@media (max-width: 54.4375rem) {
  .controls__language-select {
    display: none;
  }
}
.controls__language-select::after {
  cursor: pointer;
  content: "";
  position: relative;
  top: -0.1rem;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-right: 0.18em solid black;
  border-top: 0.18em solid black;
  transform: rotate(135deg);
  margin-right: 1.875rem;
  margin-left: 0.3em;
}
.controls__buttons {
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 54.4375rem) {
  .controls__buttons {
    display: none;
  }
}
.controls__burger {
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
  right: 2rem;
  top: 2rem;
  z-index: 20;
  margin-left: 2.8125rem;
  margin-top: 1.3rem;
}
.controls__burger:hover span::after, .controls__burger:hover span::before, .controls__burger:hover span {
  background-color: #ffc43b;
}
@media (max-width: 39rem) {
  .controls__burger {
    margin-left: 0.5rem;
  }
}
.controls__burger span {
  width: 100%;
  height: 0.25rem;
  background-color: black;
  border-radius: 0.75rem;
  display: block;
  transition: background-color 0.5s ease-in-out;
}
.controls__burger span::before, .controls__burger span::after {
  content: "";
  width: 100%;
  background-color: black;
  display: block;
  transition: all 0.5s ease-in-out;
  border-radius: 0.75rem;
  height: 0.25rem;
}
.controls__burger span::before {
  transform: translateY(-0.625rem);
}
.controls__burger span::after {
  transform: translateY(0.625rem);
  margin-top: -0.25rem;
}
.controls__burger.active span {
  background-color: transparent;
}
.controls__burger.active span::before {
  transform: rotateZ(45deg) translateY(0);
}
.controls__burger.active span::after {
  transform: rotateZ(-45deg) translateY(0);
}

@media (max-width: 39rem) {
  .header {
    padding: 0.5rem;
  }
}
.menu__mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

@media (max-width: 54.4375rem) {
  .menu__mobile {
    width: 100%;
    padding-left: 0;
  }
}
.menu__mobile.active {
  top: 0;
  right: 0;
  width: 15.625rem;
}

.menu__mobile li {
  display: block;
  margin: 0 auto;
  text-align: left;
  padding: 0.75rem;
}

@media (max-width: 54.4375rem) {
  .menu__mobile li {
    text-align: center;
  }
}
.menu__mobile-link {
  text-decoration: none;
  color: #000;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 0.725rem;
  padding: 0.25rem;
}

.menu___mobile-list {
  transition: 0.5s;
}

.menu__mobile-item a:hover {
  background-color: #ffc43b;
}

.mobile__language-select {
  margin-bottom: 0.525rem;
  margin-left: 0.725rem;
}

@media (max-width: 54.4375rem) {
  .mobile__language-select {
    text-align: center;
  }
}
.mobile__language-select::after {
  cursor: pointer;
  content: "";
  position: relative;
  top: -0.1rem;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-right: 0.18em solid #000;
  border-top: 0.18em solid #000;
  transform: rotate(135deg);
  margin-right: 1.875rem;
  margin-left: 0.3em;
}

.mobile__buttons {
  display: flex;
  gap: 1.5rem;
  margin-left: 0.725rem;
}

@media (max-width: 54.4375rem) {
  .mobile__language-select {
    text-align: center;
  }
  .mobile__buttons {
    justify-content: center;
    margin-left: 0;
  }
}
@media (min-width: 54.4375rem) {
  .mobile__buttons {
    display: none;
  }
  .mobile__language-select {
    display: none;
  }
}
@media (max-width: 58.75rem) {
  .header {
    padding-bottom: 1.8125rem;
  }
}
.main {
  padding-bottom: 2.75rem;
}
.main__body {
  display: flex;
  justify-content: space-around;
}
.main__content {
  display: flex;
  flex-direction: column;
}
@media (max-width: 58.75rem) {
  .main__content {
    text-align: center;
    align-items: center;
  }
}
.main__info {
  max-width: 32.625rem;
}
.main__title {
  color: #2f281e;
  font-size: 4.625rem;
  font-weight: 800;
  line-height: 6.25rem;
  margin-bottom: 2.1875rem;
}
.main__text {
  color: #544837;
  font-size: 1.5rem;
  line-height: 1.9375rem;
  margin-bottom: 3rem;
}
.main__button {
  margin-bottom: 3rem;
}
@media (max-width: 35.625rem) {
  .main__title {
    font-size: 2.625rem;
    line-height: 4.25rem;
    margin-bottom: 1.1875rem;
  }
  .main__text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
  }
  .main__button {
    margin-bottom: 1.5rem;
  }
}
.main__download {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.main__download-text {
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
}
.main__download-image {
  display: flex;
  gap: 0.75rem;
}
.main__download-image img {
  border-radius: 0.3125rem;
}
.main__image img {
  max-width: 100%;
}
@media (max-width: 58.75rem) {
  .main__image {
    display: none;
  }
}

@media (max-width: 470px) {
  .main {
    padding-bottom: 1.5rem;
  }
}
.description {
  background-color: #f2f2f2;
  padding: 3.125rem 0;
}
.description__body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.description__title {
  order: 0;
  position: relative;
  color: #2f281e;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 3.5rem;
}
@media (max-width: 375px) {
  .description__title::before {
    position: absolute;
    top: 100%;
    left: 30%;
    width: 7.25rem;
    border-bottom: none;
    content: "";
  }
}
.description__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 4.375rem;
}
@media (max-width: 70.6875rem) {
  .description__cards {
    gap: 1rem;
  }
}
.card {
  margin-bottom: 2.9375rem;
}
.card_title {
  color: #2f281e;
  font-family: Poppins;
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 16px;
}
.card__image {
  margin-bottom: 1.875rem;
}
.card__text {
  max-width: 13.9375rem;
  margin-bottom: 1.75rem;
  color: #544837;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625rem;
}
.card__link {
  color: #544837;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  text-decoration: none;
}
.card__link:hover {
  color: #ffc43b;
}
@media (max-width: 30.6875rem) {
  .card__text {
    margin-bottom: 1.2rem;
  }
  .card__image {
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 30.6875rem) {
  .card {
    margin-bottom: 1.5rem;
  }
}
.button__text-bold {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 800;
}

.cards {
  padding: 3.5rem 0;
}
.cards__title {
  position: relative;
  color: #2f281e;
  text-align: center;
  font-family: Poppins;
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 3.25rem;
}
.cards__slider-slide {
  padding-bottom: 5.9375rem;
}
.cards__slider-slide img {
  position: relative;
  text-align: center;
}
.cards__slide-info {
  position: absolute;
  top: 20%;
  left: 5%;
}
.cards__slide-button button {
  background-color: #000;
  padding: 0.25rem 1.25rem;
  border-radius: 2.4375rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
}
.cards__slide-button--yellow button {
  background-color: #ffc43b;
  padding: 0.25rem 1.25rem;
  border-radius: 2.4375rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
}
.cards__slide-title {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
}
.cards__slide-text {
  color: #fff;
  font-size: 1.25rem;
  max-width: 15.6875rem;
  margin-bottom: 2.3125rem;
}
.cards__slide-link {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}
@media (max-width: 65.9375rem) {
  .cards__slide-info {
    top: 15%;
    left: 5%;
  }
  .cards__slide-title {
    font-size: 1.5rem;
  }
  .cards__slide-text {
    font-size: 1rem;
  }
  .cards__slide-link {
    font-size: 1rem;
    font-weight: 700;
  }
}
@media (max-width: 51.9375rem) {
  .cards__slide-info {
    top: 10%;
    left: 5%;
  }
  .cards__slide-title {
    margin-bottom: 0.5rem;
  }
  .cards__slide-text {
    margin-bottom: 1rem;
  }
  .cards__slide-new {
    top: 10%;
    left: 5%;
  }
}
@media (max-width: 38.8125rem) {
  .cards__slide-text {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 34.3125rem) {
  .cards__slide-title {
    font-size: 1rem;
  }
  .cards__slide-text {
    font-size: 0.8rem;
  }
  .cards__slide-link {
    font-size: 0.8rem;
  }
}
@media (max-width: 28.4375rem) {
  .cards__slide-title {
    margin-bottom: 0;
  }
  .cards__slide-text {
    display: none;
  }
  .cards__slide-link {
    margin-bottom: 0;
  }
  .cards__slider-slide {
    padding-bottom: 2.9375rem;
  }
}
@media (max-width: 22.3125rem) {
  .cards__slide-button button {
    background-color: #000;
    padding: 0.25rem 0.75rem;
    border-radius: 2.4375rem;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .cards__slider-slide--light img {
    opacity: 0.5;
  }
}
@media (max-width: 19.875rem) {
  .cards__slide-info {
    top: 2%;
    left: 2%;
  }
  .cards__slide-title {
    font-size: 0.8rem;
  }
}
.cards .swiper-pagination {
  margin-top: 5.9375rem;
}

.code {
  text-align: center;
  padding-bottom: 7rem;
}
.code__wrapper {
  background-color: #FFC43B;
  padding-top: 16rem;
  padding-bottom: 16rem;
}
.code__body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.code__logo {
  display: flex;
  align-items: baseline;
  gap: 1.25rem;
  margin-bottom: 3.5rem;
}
@media (max-width: 24.75rem) {
  .code__logo img {
    display: none;
  }
}
.code__logo-text {
  color: #000;
  font-family: Vibur;
  font-size: 3.125rem;
  font-weight: 400;
}
.code__input {
  border-radius: 2.875rem;
  background: #fff;
  padding: 1.125rem;
  border: none;
  margin-bottom: 1.125rem;
}
.code__input::-moz-placeholder {
  color: #979797;
  font-size: 1rem;
  font-weight: 700;
}
.code__input::placeholder {
  color: #979797;
  font-size: 1rem;
  font-weight: 700;
}
.code__text {
  color: #979797;
  text-align: center;
  font-size: 1rem;
}
.code__link {
  margin-top: 3.375rem;
}
.code__link p {
  color: #333;
  font-size: 2.25rem;
}
.code__link a {
  color: #3A5AFF;
  font-size: 2.25rem;
  font-weight: 700;
  text-decoration-line: underline;
}
.code__link a:hover {
  color: #ffc43b;
}
@media (max-width: 34.375rem) {
  .code__link p {
    font-size: 1.5rem;
  }
  .code__link a {
    font-size: 1.5rem;
  }
}

@media (max-width: 34.375rem) {
  .code {
    padding-bottom: 3rem;
  }
}
.work {
  padding-bottom: 7.9375rem;
}
.work__title {
  color: #2f281e;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 5.9375rem;
}
.work__info {
  display: flex;
  margin-bottom: 1.6875rem;
  justify-content: space-around;
}
.work__text {
  max-width: 33.625rem;
}
.work__text h3 {
  text-align: left;
  color: #2f281e;
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 0.5625rem;
}
.work__text p {
  color: #544837;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.5rem;
}
@media (max-width: 50rem) {
  .work__info-img {
    display: none;
  }
  .work__text h3 {
    text-align: center;
  }
  .work__text p {
    text-align: center;
  }
  .work__title {
    margin-bottom: 2.9375rem;
  }
}
@media (max-width: 425px) {
  .work__text h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .work__text p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.footer__wrapper {
  background-color: #3a5aff;
  padding-top: 4.25rem;
  padding-bottom: 2.375rem;
}
.footer__body {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  padding-bottom: 3.125rem;
  flex-wrap: wrap;
}
.footer__links {
  max-width: 14.375rem;
}
.footer__logo {
  cursor: pointer;
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
.footer__logo img {
  width: 28px;
  height: 28px;
}
.footer__logo-text {
  color: #f2f2f2;
  font-family: Vibur;
  font-size: 1.85rem;
  font-weight: 400;
}
.footer__app {
  cursor: pointer;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
}
.footer__app-text {
  color: #fff;
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.875rem;
}
.footer__app-link img {
  max-width: 6.5rem;
  height: 1.875rem;
}
.footer__follow {
  display: flex;
  flex-direction: column;
}
.footer__follow-text {
  color: #fff;
  font-family: Poppins;
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 0.875rem;
}
.footer__follow-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__follow-link {
  cursor: pointer;
}
.footer__menus {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
}
@media (max-width: 49.625rem) {
  .footer__menus {
    justify-content: center;
  }
}
@media (max-width: 30.0625rem) {
  .footer__menus {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.footer__menu-item {
  margin-bottom: 0.875rem;
}
.footer__menu-item:last-child {
  margin-bottom: 0;
}
.footer__menu-item h4 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
  margin-bottom: 2.1875rem;
}
.footer__menu-item a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.1875rem; /* 218.75% */
  text-decoration: none;
}
.footer__menu-item a:hover {
  color: #ffc43b;
  text-decoration: underline;
}
.footer__item-images {
  cursor: pointer;
  display: flex;
  gap: 1.3125rem;
  margin-top: 3.75rem;
}
.footer__copyrights {
  margin-left: 3rem;
}
.footer__copyrights-text {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 500;
}

body {
  font-family: "Montserrat";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.button {
  border-radius: 4px;
  background: #3a5aff;
  box-shadow: 0rem 0.25rem 0.125rem 0rem rgb(0, 0, 0);
  padding: 0.875rem 1.5625rem 0.875rem 1.5625rem;
  cursor: pointer;
}

.button:hover {
  background: #ffc43b;
  box-shadow: 0rem 0.25rem 0.125rem 0rem rgb(0, 0, 0);
}

.button-light {
  background-color: #fff;
  border: 0.0625rem solid #979797;
  box-shadow: none;
  border-radius: 0.25rem;
}

.button__text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 600;
}

.button-light__text {
  color: #979797;
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 700;
}

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}