.footer {
    // .footer__wrapper

    &__wrapper {
        background-color: $footer-bg;
        padding-top: 4.25rem;
        padding-bottom: 2.375rem;
    }

    // .footer__container

    &__container {
    }

    // .footer__body

    &__body {
        display: flex;
        gap: 2rem;
        justify-content: space-around;
        padding-bottom: 3.125rem;
        flex-wrap: wrap;
    }

    // .footer__links

    &__links {
        max-width: 14.375rem;
    }

    // .footer__logo

    &__logo {
        cursor: pointer;
        display: flex;
        align-items: baseline;
        gap: 1rem;
        margin-bottom: 3.5rem;
    }
    &__logo img {
        width: 28px;
        height: 28px;
    }

    // .footer__logo-text

    &__logo-text {
        color: $footer-logo-text;
        font-family: Vibur;
        font-size: 1.85rem;
        font-weight: 400;
    }

    // .footer__app

    &__app {
        cursor: pointer;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin-bottom: 2.5rem;
    }

    // .footer__app-text

    &__app-text {
        color: $footer-text;
        font-family: Poppins;
        font-size: 0.75rem;
        font-weight: 700;
        margin-bottom: 0.875rem;
    }

    // .footer__app-link

    &__app-link {
    }
    &__app-link img {
        max-width: 6.5rem;
        height: 1.875rem;
    }
    // .footer__follow

    &__follow {
        display: flex;
        flex-direction: column;
    }

    // .footer__follow-text

    &__follow-text {
        color: $footer-text;
        font-family: Poppins;
        font-size: 0.75rem;
        font-weight: 700;
        margin-bottom: 0.875rem;
    }

    // .footer__follow-links

    &__follow-links {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    // .footer__follow-link

    &__follow-link {
        cursor: pointer;
    }

    // .footer__menus

    &__menus {
        display: flex;
        align-items: flex-start;

        gap: 3rem;
        flex-wrap: wrap;
    }
    @media (max-width: 49.625rem) {
        &__menus {
            justify-content: center;
        }
    }

    @media (max-width: 30.0625rem) {
        &__menus {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    // .footer__menu
    &__menu {
    }

    // .footer__menu-list

    &__menu-list {
    }

    // .footer__menu-item

    &__menu-item {
        margin-bottom: 0.875rem;
    }
    &__menu-item:last-child {
        margin-bottom: 0;
    }
    &__menu-item h4 {
        color: $footer-text;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.875rem;
        margin-bottom: 2.1875rem;
    }
    &__menu-item a {
        color: $footer-text;
        font-size: 1rem;
        font-weight: 500;
        line-height: 2.1875rem; /* 218.75% */
        text-decoration: none;
    }
    &__menu-item a:hover {
        color: $primary-hover;
        text-decoration: underline;
    }

    // .footer__item-images

    &__item-images {
        cursor: pointer;
        display: flex;
        gap: 1.3125rem;
        margin-top: 3.75rem;
    }

    // .footer__image

    &__image {
    }

    // .footer__copyrights

    &__copyrights {
        margin-left: 3rem;
    }

    // .footer__copyrights-text

    &__copyrights-text {
        color: $footer-text;
        font-size: 0.75rem;
        font-weight: 500;
    }
}
