@import "../base/variables";

.header {
    padding-bottom: 5.8125rem;
    padding-top: 2.5625rem;
    position: relative;
    // .header__container
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5625rem;
    }
    // .header__logo
    &__logo {
        cursor: pointer;
    }
    &__logo img {
        margin-right: 1.125rem;
    }
    @media (max-width: 24.125rem) {
        &__logo img {
            width: 2.125rem;
            margin-right: 0.7rem;
        }
    }
    // .header__logo-text
    &__logo-text {
        color: $logo-text;
        font-family: Vibur;
        font-size: 3.125rem;
        font-weight: 400;
    }
    @media (max-width: 24.125rem) {
        &__logo-text {
            font-size: 2.125rem;
        }
    }

    &__logo-text:hover {
        color: $primary-hover;
    }
    // .header__controls
    &__controls {
    }
}
.controls {
    display: flex;
    align-items: center;
    // .controls__language-select
    &__language-select {
    }
    @media (max-width: 54.4375rem) {
        &__language-select {
            display: none;
        }
    }

    &__language-select::after {
        cursor: pointer;
        content: "";
        position: relative;
        top: -0.1rem;
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        border-right: 0.18em solid black;
        border-top: 0.18em solid black;
        transform: rotate(135deg);
        margin-right: 1.875rem;
        margin-left: 0.3em;
    }
    // .controls__buttons
    &__buttons {
        display: flex;
        gap: 1.25rem;
    }
    @media (max-width: 54.4375rem) {
        &__buttons {
            display: none;
        }
    }
    // .controls__burger
    &__burger {
        width: 2rem;
        height: 1.5rem;
        cursor: pointer;
        right: 2rem;
        top: 2rem;
        z-index: 20;
        margin-left: 2.8125rem;
        margin-top: 1.3rem;
    }

    &__burger:hover span::after,
    &__burger:hover span::before,
    &__burger:hover span {
        background-color: $primary-hover;z-index: 20;
    }
    @media (max-width: 39rem) {
        &__burger {
            margin-left: 0.5rem;
        }
    }
    &__burger span {
        width: 100%;
        height: 0.25rem;
        background-color: black;
        border-radius: 0.75rem;
        display: block;
        transition: background-color 0.5s ease-in-out;
    }

    &__burger span::before,
    &__burger span::after {
        content: "";
        width: 100%;
        background-color: black;
        display: block;
        transition: all 0.5s ease-in-out;
        border-radius: 0.75rem;
        height: 0.25rem;
    }

    &__burger span::before {
        transform: translateY(-0.625rem);
    }

    &__burger span::after {
        transform: translateY(0.625rem);
        margin-top: -0.25rem;
    }

    &__burger.active span {
        background-color: transparent;
    }

    &__burger.active span::before {
        transform: rotateZ(45deg) translateY(0);
    }

    &__burger.active span::after {
        transform: rotateZ(-45deg) translateY(0);
    }
}
@media (max-width: 39rem) {
    .header {
        padding: 0.5rem;
    }
}

.menu__mobile {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2 ;
    top: 0;
    right: 0;
    background-color: $mobile-bg;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

@media (max-width: 54.4375rem) {
    .menu__mobile {
        width: 100%;
        padding-left: 0;
    }
}
.menu__mobile.active {
   display: block;
    width: 15.625rem;
}
@media (max-width: 54.4375rem) {
    .menu__mobile.active {
        width: 100%;
        padding-left: 0;
        overflow-y: none;
    }
}
.menu__mobile li {
    display: block;
    margin: 0 auto;
    text-align: left;
    padding: 0.75rem;
}

@media (max-width: 54.4375rem) {
    .menu__mobile li {
        text-align: center;
    }
}
.menu__mobile-link {
    text-decoration: none;
    color: $mobile-link;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 0.725rem;
    padding: 0.25rem;
}
.menu___mobile-list {
    transition: 0.5s;
}
.menu__mobile-item a:hover {
    background-color: $primary-hover;
}

.mobile__language-select {
    margin-bottom: 0.525rem;
    margin-left: 0.725rem;
}
@media (max-width: 54.4375rem) {
    .mobile__language-select {
        text-align: center;
    }
}

.mobile__language-select::after {
    cursor: pointer;
    content: "";
    position: relative;
    top: -0.1rem;
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-right: 0.18em solid $border;
    border-top: 0.18em solid $border;
    transform: rotate(135deg);
    margin-right: 1.875rem;
    margin-left: 0.3em;
}

.mobile__buttons {
    display: flex;
    gap: 1.5rem;
    margin-left: 0.725rem;
}
@media (max-width: 54.4375rem) {
    .mobile__language-select {
        text-align: center;
    }
    .mobile__buttons {
        justify-content: center;
        margin-left: 0;
    }
}
@media (min-width: 54.4375rem) {
    .mobile__buttons {
        display: none;
    }
    .mobile__language-select {
        display: none;
    }
}
@media (max-width: 58.75rem) {
    .header {
        padding-bottom: 1.8125rem;
    }
}
