$primary-text:#544837;
$primary-title:#2F281E;
$primary-button-bg:#3A5AFF;
$primary-button-text:#fff;
$primary-footer:#fff;
$primary-hover:#FFC43B;
$logo-text:#000;
$btn-light-bg:#fff;
$btn-light-text:#979797;
$box-shadow-mobile:#00000026;
$mobile-bg:#fff;
$mobile-link:#000;
$border:#000;