$primary-text: #544837;
$primary-title: #2f281e;
$primary-button-bg: #3a5aff;
$primary-button-text: #fff;
$primary-footer: #fff;
$primary-hover: #ffc43b;
$logo-text: #000;
$btn-light-bg: #fff;
$btn-light-text: #979797;
$box-shadow-mobile: #00000026;
$mobile-bg: #fff;
$mobile-link: #000;
$border: #000;
$download-color: #000;

/*---Description---*/
$description-bg: #f2f2f2;
$title-line: #3a5aff;

/*---Cards---*/
$card-title: #fff;
$card-text: #fff;
$card-link: #fff;

$card-btn-bg:#000;
$card-btn-text:#fff;

/*---Code---*/
$code-bg:#FFC43B;
$code-col:#979797;
$code-text-col:#333;
$code-link-col:#3A5AFF;

/*---Footer---*/
$footer-bg:#3a5aff;
$footer-logo-text:#f2f2f2;
$footer-menu-item:#fff;
$footer-text:#fff;
